table{
    width: 100%;
}
table thead{
    background-color: #8c8c8c;
  }
  table th{
    text-align: start;
    padding-top:10px;
    padding-bottom:10px;
  }
  table tr{
    background-color: #c8c8c8d4;
  }
  table tr:nth-child(even){
    background-color: #e9e4e4e8;
  }
  .container-table{
    padding: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-container{
    margin-top: 20px;
  }